{% load static %}

<div class="col d-flex align-items-stretch justify-content-center mb-2">
    <div class="card col px-2">
        <a class="text-decoration-none" href="{{ book.get_absolute_url }}">
            <div class="text-center">
                {% if book.cover %}
                    <img src="{{ book.cover.url }}" alt="{{ book.title }}" height="200">
                {% else %}
                    <img src="{% static 'image/no_image.png' %}" alt="{{ book.title }}" height="200">
                {% endif %}
            </div>
            <p class="card-title text-dark">
                {{ book.title }}
            </p>
        </a>
        {% for author in book.author.all %}
            <p class="text-black-50 mb-0">
                {{ author.first_name }} {{ author.last_name }}
            </p>
        {% endfor %}
        <p class="text-black-50 mb-0">
            {{ book.year }}
        </p>
    </div>
</div>