{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="columns">
  <div class="column col-12 bg-secondary">
    <a class="btn btn-link" href="{% url 'books' %}">Книги</a>
  </div>

  <!-- Книги -->
  {% if book_list %}
    {% for book in book_list %}
      {% include "catalog/include/book_card.html" %}
    {% endfor %}

  {% else %}
    <p>Каталог книг пуст.</p>
  {% endif %}

  <!--  Авторы  -->
  <div class="column col-12 bg-secondary">
    <a class="btn btn-link" href="{% url 'authors' %}">Авторы</a>
  </div>

  {% if author_list %}
  {% for author in author_list %}
  <div class="column col-2 col-lg-4 col-md-6">
    <a href="{{ author.get_absolute_url }}">{{ author.last_name }}, {{ author.first_name }}</a>
  </div>
  {% endfor %}
  {% else %}
    <p>Список авторов пуст.</p>
  {% endif %}

</div>
{% endblock %}