{% extends "base_generic.html" %}
{% block content %}

<!-- Pagination -->
{% include "catalog/include/pagination.html" %}
<!--              -->

<!-- Main content -->
<div class="columns">
  <div class="col-10 col-xl-9 col-lg-8 col-sm-6">
    <div class="columns">
      {% if book_list %}
        {% for book in book_list %}
          {% include "catalog/include/book_card.html" %}
        {% endfor %}
      {% else %}
        <p>Каталог книг пуст.</p>
      {% endif %}
    </div>
  </div>
  <div class="col-2 col-xl-3 col-lg-4 col-sm-6 bg-gray">
    <ul class="nav">
    Год издания
    {% for year in year_list %}
      <li class="nav-item">
        {% if 'tag' in request.GET %}
          <a href="?year={{ year }}&tag={{ request.GET.tag }}">{{ year }}</a>
        {% else %}
          <a href="?year={{ year }}">{{ year }}</a>
        {% endif %}
      </li>
    {% endfor %}
      <li class="nav-item">
        <a href="{% url 'books' %}">Все</a>
      </li>
    </ul>
    <ul class="nav">
    Тег
    {% for tag in tag_list %}
      <li class="nav-item">
        {% if 'year' in request.GET %}
          <a href="?year={{ request.GET.year }}&tag={{ tag.id }}">{{ tag.name }}</a>
        {% else %}
          <a href="?tag={{ tag.id }}">{{ tag }}</a>
        {% endif %}
      </li>
    {% endfor %}
      <li class="nav-item">
        <a href="{% url 'books' %}">Все</a>
      </li>
    </ul>
  </div>
</div>
<!--              -->

<!-- Pagination -->
{% include "catalog/include/pagination.html" %}
<!--              -->

{% endblock %}