{% extends "base_generic.html" %}
{% block content %}

<!-- Pagination -->
{% include "catalog/include/pagination.html" %}
<!--              -->

<!-- Main content -->
<div class="columns">
{% if book_list %}
  {% for book in book_list %}
    {% include "catalog/include/book_card.html" %}
  {% endfor %}
{% else %}
  <p>Каталог книг пуст.</p>
{% endif %}
</div>
<!--              -->

<!-- Pagination -->
{% include "catalog/include/pagination.html" %}
<!--              -->

{% endblock %}