{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="columns">
  <div class="column col-3 col-lg-4 col-md-12">
    {% if book.cover %}
    <img src="{{ book.cover.url }}" alt="{{ book.title }}">
    {% else %}
    <img src="{% static 'image/no_image.png' %}" alt="{{ book.title }}">
    {% endif %}
    <div>Год издания: {{ book.year }}</div>
    <div>Издательство: {{ book.publisher }}</div>
    <div>ISBN: {{ book.isbn }}</div>
    <div>Язык: {{ book.language }}</div>
    <div>Страниц: {{ book.num_pages }}</div>
  </div>
  <div class="column col-9 col-lg-8 col-md-12">
    <h1>{{ book.title }}</h1>
    {% for author in book.author.all %}
      <div>
        <a href="{{ author.get_absolute_url }}">
        {{ author.first_name }} {{ author.last_name }}
        </a>
      </div>
    {% endfor %}
    <blockquote>{{ book.summary|safe }}</blockquote>
    {% for tag in book.tag.all %}
      <span>{{ tag.name }}</span>
    {% endfor %}
  </div>
</div>
{% endblock %}
